@import './styles/palette';
@import './styles/typography';
@import './styles/components';

/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8fafc;
  color: #1a1a1a;
}

body {
  margin: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

/* Generic Utility Classes */
.text-primary-active {
  color: #12b393 !important;
}

.bg-sidebar {
  background-color: #000d1f !important;
}
